<P class="text-success"><%= flash[:success] %></P>

<div class="container">
 <div class="row">
  
  <div class="col-md-3">
  
   <%= render "users/infomation", user: @user %>
   <%= render "books/form", book: @book1 %>
  </div>
  
  <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
    <table class="table">
        <tbody>
            <tr>
                 <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100" %><br />
                <%= link_to user_path(@user.id) do %><%= @user.name %><% end %>
                <td><%= link_to book_path(@book.id) do %><%= @book.title %><% end %></td>
                <td><%= @book.opinion %></td>
                
                <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %></tb>
                <td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class:"btn btn-danger" %></tb>
                <% end %>
                
             </tr>
        </tbody>
    </table>  
  </div>
  
  
  
 </div>
</div>